* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
    font-family: sans-serif;
    /* color: #fff; */
    /* background-image: url( 'https://api.unsplash.com/search/photos?query=canada'); */
}

.location, .temperature {
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.temperature {
    flex-direction: column;
}

.degree-section {
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    cursor:  pointer;
}

.degree-section span {
    margin: 10px;
    font-size: 30px;
}

.degree-section h2 {
    font-size: 40px;
}

.card {
    background: #000000d0;
    padding: 30px;
    border-radius: 10px;
    width: 40%;
    color: #fff;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

input.search-bar {
    outline: none;
    border: none;
    padding: 10px 16px;
    border-radius: 18px;
    background: #7c7c7c2b;
    color: white;
    font-family: inherit;
    width: 100%;
}

.search button {
    padding: 10px 20px;
    margin-left: 20px;
    cursor: pointer;
    background: #7c7c7c2b;
    border: none;
    border-radius: 4px;
    color: #fff;
    transition: 0.2s ease-in-out;
}

.search button:hover {
    background: #7c7c7c6b;
}

.description {
    text-transform: capitalize;
}

.weather.loading {
    visibility: hidden;
    max-height: 20px;
    position: relative;
}

.weather.loading:after {
    visibility: hidden;
    content: "";
    color: #fff;
    position: absolute;
    top: 0;
    left: 20px; 
}

.loader {
    text-align: center;
    display: none;
}

.loader img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.card h4 {
    margin-bottom: 10px;
}

@media (max-width: 769px) {
    .card {
        width: 70%;
    }
}

@media (max-width: 426px) {
    .card {
        width: 90%;
    }
}